<div class="tweet-main">
  <div class="tweet-upper">
    <div class="user-name">
     <%= current_user.nickname %>
    </div>
  </div>
  <div class="tweet-lower">
    <% @tweets.each do |tweet| %>
    <div class="tweet-title">
      <%= tweet.title %>
    <div>
    <div class="tweet-image">
      <%= image_tag tweet.image.variant(resize: '500x500') %>
      <ul class="more_list">
        <li>
          <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>
</div>