<div class="tweet-main">
  <div class="tweet-upper">
    <div class="user-name">
    <% if user_signed_in? %>
     <%= current_user.nickname %>
    <% end %>
    </div>
  </div>
  <div class="tweet-lower">
    <% @tweets.each do |tweet| %>
    <div class="tweet-title">
      <%= tweet.title %>
    <div>
    <div class="tweet-image">
      <%=link_to (image_tag tweet.image.variant(resize: '500x500')), tweet_path(tweet.id) %>
    </div>
    <% end %>
</div>